################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PrioritneFronty/.vs/PrioritneFronty/v16
/PrioritneFronty/PrioritneFronty/Debug
/PrioritneFronty/PrioritneFronty/x64/Debug
/PrioritneFronty/x64/Debug
PrioritneFronty/Materials/~$kalarka.docx
/Udajovky/
*.csv
*.xlsx