################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PrioritneFronty/.vs/PrioritneFronty/v16
/PrioritneFronty/PrioritneFronty/Debug
/PrioritneFronty/PrioritneFronty/x64/Debug
/PrioritneFronty/x64/Debug
/PrioritneFrontyTest/.vs/PrioritneFrontyTest/v16
/PrioritneFrontyTest/PrioritneFrontyTest/Debug
/PrioritneFrontyTest/PrioritneFrontyTest/x64
/PrioritneFrontyTest/x64
/PrioritneFrontyTest/Debug
PrioritneFronty/Materials/~$kalarka.docx
